<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="CarSalon.properties"/>

    <bean
            id="car1"
            class="ru.anisovets.spring.Cars.CargoCar">
    </bean>

    <bean
            id="car2"
            class="ru.anisovets.spring.Cars.LightCar">
    </bean>

    <bean
            id="car3"
            class="ru.anisovets.spring.Cars.RacingCar">
    </bean>

    <bean id = "carList"
          class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="car1"/>
                <ref bean="car2"/>
                <ref bean="car3"/>
            </list>
        </constructor-arg>
    </bean>

    <bean
            id="carSalon"
            class="ru.anisovets.spring.Cars.CarSalon">
        <property name="carList" ref="carList"/>

        <property name="carType" value="${carSalon.carType}"/>
        <property name="street" value="${carSalon.street}"/>
    </bean>

</beans>